<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <nav class="container-lg markdown-body">
      <a href="{{ '/' | relative_url }}"><h1 style="color:#ffbd61;">My website</h1></a>
    </nav>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if page.date %}
      <span style="opacity:0.5">{{ page.date | date_to_string }}</span>
      {% endif %}
      {% if page.author %}
      <span style="margin-left: 64px; opacity:0.5">by {{ page.author }}</span>
      {% endif %}
      
      {{ content }}
    </div>
  </body>
</html>